/*universals*/
* {
  box-sizing: border-box;
}
.container{
  max-width: 900px
}
/*header styles*/

/*#header {
  position: fixed;
}*/

#bg-cover {
  background-size: cover;
  background-image: url(../img/background.jpg);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100
}
.logo {
  display: inline-block;
}
#header .info {
  display: inline-block;
}
/*hero styles*/

.jumbotron {
  background-color: transparent;
}
