@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto')

/*universals*/

* {
  box-sizing: border-box;
}
.primary-text{
  font-family: 'Roboto', sans-serif;
}

.secondary-text {
  font-family: 'Lato', sans-serif;
}
.text-shadow {
  text-shadow: 2px 2px 2px #000;
}
.black-text {
  color: #000;
}
a {
  color: #37cef3;
}
a:focus, a:hover {
  color:#EC971F
  }

.btn {
  border: none;
  background-color: #37cef3;
}

.btn-primary:hover {
  border: none;
  background-color: #fa9d57;
  transition: .3s;
}

body {
  line-height: 1.9;
  position: relative;
  color: #fff;
}


.container{
  max-width: 900px
}

hr {
  border:none;
 	width: 70%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

img {
  margin-bottom: 20px;
}

/*---------header styles---------*/
.navbar-inverse {
    background-color: rgba(240, 245, 249, .7);
    border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #fa9d57;
}

#bg-cover {
  background-size: cover;
  background-image: url(../img/background.jpg);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100
}

.logo {
  font-weight: bold;
}
/*----------header styles end-------------*/

/*---------hero styles-----------*/

.jumbotron {
  background-color: transparent;
  height:650px;
  position: relative;
  top: 140px;
  /*z-index: -1;*/
}

.jumbotron>h1 {
  font-weight: bold;
}

.fadein-fast {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes push-l {
  0% {
    transform: translateX(-600px);
  }

  100% {
    position: relative;
  }
}

@keyframes push-r {
  0% {
    transform: translateX(600px);
  }

  100% {
    position: relative;
  }
}

.btn-right {
  animation: push-r 1s;
}

.btn-left {
  animation: push-l 1s;
}

.btn-right, .btn-left {
  margin-top: 5px;
}
/*----------hero style ends--------*/

/*-----------projects styles----------*/
/*@media (max-width: 1072px)
.portfolio-item {
    margin-bottom: 20px;
    width: 65%;
}*/

#projects {
  background-color: #d9dee8;
}

#projects>.container-fluid {
  min-width: 100%;
}


.work {
  padding: 50px 20px;
  min-height: 1100px;
  /*min-width: 107%;*/
}

.projects {
  margin: 110px;
}


/*--------footer styles starts--------*/
.bottom-part {
  /*background-color: #eee;*/
}

.selfie {
  /*border-radius: 10px;*/
  margin-left: 38%;
  margin-bottom: 10px;
  width: 100px;
}

.fa {
  margin: 1%;
}



.about {
  margin-bottom: 20px;
}

/*      contact form styles starts      */

#contact{
   padding:10px 0px 0px 10px;
   background-color: #52616a;
 }

 .contact-text{
   margin:45px auto;
 }

 .mail-message-area{
   width:100%;
   padding:0 15px;
 }

 .mail-message{
   width: 100%;
   background:rgba(255,255,255, 0.8) !important;
   -webkit-transition: all 0.7s;
   -moz-transition: all 0.7s;
   transition: all 0.7s;
   margin:0 auto;
   border-radius: 0;
 }

 .not-visible-message{
   height:0px;
   opacity: 0;
 }

 .visible-message{
   height:auto;
   opacity: 1;
   margin:25px auto 0;
 }

/* Input Styles */

 .form{
   width: 100%;
   padding: 15px;
   background:#f0f5f9;
   border:1px solid rgba(0, 0, 0, 0.075);
   margin-bottom:25px;
   color:#727272 !important;
   font-size:13px;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
 }

 .form:hover{
   border:1px solid #8BC3A3;
 }

 .form:focus{
   color: white;
   outline: none;
   border:1px solid #8BC3A3;
 }

 .textarea{
   height: 200px;
   max-height: 200px;
   max-width: 100%;
 }

/* Generic Button Styles */

 .button{
   padding:8px 12px;
   background:#0A5175;
   display: block;
   width:120px;
   margin:10px 0 0px 0;
   border-radius:3px;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   text-align:center;
   font-size:0.8em;
   box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
 }

 .button:hover{
   background:#8BC3A3;
   color:white;
 }

/* Send Button Styles */
 .send {
   margin-bottom: 10px;
 }

 .form-btn{
   width:180px;
   display: block;
   height: auto;
   padding:15px;
   color:#fff;
   background:#37cef3;
   border:none;
   border-radius:3px;
   outline: none;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   margin:auto;
   text-shadow: 1px 1px 1px #000;
   box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
 }

 .form-btn:hover{
   background:#111;
   color: white;
   border:none;
 }

 .form-btn:active{
   opacity: 0.9;
 }
center{
 margin-top:330px;
}
input {
   position: relative;
   z-index: 9999;
}

/*     contact form styles ends    */

.bottom {
  min-height: 80px;
  padding: 3%;
  background-color: #1e2022;
}

.copy {
  font-weight: 700;
}

/*-----------footer styles end----------*/
