/*universals*/
* {
  box-sizing: border-box;
}

body {
  color: #fff000;
  text-shadow: 2px 2px 2px #000; /*only temp*/
}

.container{
  max-width: 900px
}

/*header styles*/
.navbar-inverse {
    background-color: transparent;
    border: none;
}

#bg-cover {
  background-size: cover;
  background-image: url(../img/background.jpg);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100
}

/*hero styles*/

.jumbotron {
  background-color: transparent;
}

.jumbotron p {
  float: left
}

.btn-right {
  margin-left: 5px;
}

/*projects styles*/
#projects {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  margin: 50px;
}
.image {
  width: 300px;
}
